.LoginRightBg {
  background-image: url("https://images.unsplash.com/photo-1561816273-56c6232d3990?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1752&q=80");
  height: 100vh;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.layoutClass {
  min-height: "100vh";
  background-color: white !important;
}

.loginForm {
  margin-top: 30px !important;
}

.welcome {
  font-size: 50px;
}

.mP0 {
  margin: 0 !important;
  padding: 0 !important;
}
